.navbar {
  height: 60px;
  width: 100%;
  font-weight: bold;
  background: #008989;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  &__left {
    font-size: 26px;
    margin-left: 20px;
  }
  &__right {
    width: 90px;
    margin-right: 20px;
    &__zoom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        width: 20px;
      }
    }
  }
}

.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__document:first-child {
    margin-top: 80px;
  }
  &__document {
    margin-top: 20px;
    &__menu {
      width: 170px;
      height: 50px;
      background: #008989;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      border-radius: 1px 10px 10px 10px;
      span {
        cursor: pointer;
      }
    }
  }
}
