<nav class="navbar">
  <div class="navbar__left">
    <p>test doc</p>
  </div>
  <div class="navbar__right">
    <div class="navbar__right__zoom">
      <span>{{(zoom * 100).toFixed()}}%</span>
      <button (click)="increaseSize()">+</button>
      <button (click)="decreaseSize()">-</button>
    </div>
  </div>
</nav>
<div class="documents">
  <img
    *ngFor="let document of documents"
    [src]="document.path"
    [style.width.px]="document.width * zoom"
    [style.height.px]="document.height * zoom"
    [style.transform-origin]="'top'"
    [style.transition]="'width 0.5s ease, height 0.5s ease'"
    (contextmenu)="onContextMenu($event)"
    (click)="isContextMenuOpen = false"
    class="documents__document"
  />
  <div
    *ngIf="isContextMenuOpen"
    [style.left.px]="contextMenuPosition.x"
    [style.top.px]="contextMenuPosition.y"
    class="documents__document__menu"
  >
    <span (click)="addText()">Add Text</span>
    <span (click)="addPicture()">Add Picture</span>
  </div>
</div>
