.navbar {
  height: 60px;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  background: #008989;
  color: white;
  display: flex;
  align-items: center;
  &__left {
    margin-left: 20px;
  }
}
