<nav class="navbar">
  <div class="navbar__left">
    <p>test doc</p>
  </div>
  <div class="navbar__right">
    <div class="navbar__right__zoom">
      <span>{{(zoom * 100).toFixed()}}%</span>
      <button (click)="increaseSize()">+</button>
      <button (click)="decreaseSize()">-</button>
    </div>
  </div>
</nav>
<div class="documents">
  <div
    *ngFor="let document of documents"
    [style.width.px]="document.width * zoom"
    [style.height.px]="document.height * zoom"
    [style.transition]="'width 0.5s ease, height 0.5s ease'"
    class="documents__document"
  >
    <img
      [src]="document.path"
      [style.width]="'100%'"
      [style.height]="'100%'"
      [style.transition]="'width 0.5s ease, height 0.5s ease'"
      (contextmenu)="onContextMenu($event)"
      (click)="reset()"
      id="{{document.id}}"
      alt="document"/>
    <div
      *ngIf="isContextMenuOpen"
      [style.left.px]="contextMenuPosition.x"
      [style.top.px]="contextMenuPosition.y"
      class="documents__document__menu"
    >
      <span (click)="addText(document)">Add Text</span>
      <span (click)="addPicture()">Add Picture</span>
    </div>
    <div
      *ngIf="showTextArea"
      [style.left.px]="contextMenuPosition.x"
      [style.top.px]="contextMenuPosition.y"
      class="documents__document__text-area"
    >
      <input
        type="text"
        [(ngModel)]="text"
      >
    </div>
    <div>
      <div
        class="documents__document__annotation"
        *ngFor="let annotation of annotations"
        [style.left.px]="annotation.x"
        [style.top.px]="annotation.y"
      >
        {{ annotation.documentId === document.id ? annotation.text : '' }}
      </div>
    </div>
  </div>
</div>
