.navbar {
  height: 60px;
  width: 100%;
  font-weight: bold;
  background: #008989;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    font-size: 26px;
    margin-left: 20px;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 20px;
    &__zoom {
      button {
        width: 20px;
        margin-left: 3px;
      }
    }
  }
}

.viewer {
  width: 100%;
  display: flex;
  justify-content: center;
  &__canvas {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 4px 4px;
  }
}
